*{
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 30px;
  margin: auto;
  padding: 10px;
}
.wrapper img{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 80px;
}
span {
    display: inline-flex;
    font-size: 20px;
    width: 75px;
    font-family: -webkit-pictograph;
    color: #ee2121;
    font-weight: 800;
    margin-left: 10px;
    margin-top: 0px;
    float: left;
}


ul {
    margin: auto;
    margin-top: -5px;
    margin-left: 0;
    width: 81%;
    /* padding: 29px; */
    height: 100%;
    display: flex;
    justify-content: center;
}



li {
    display: inline-block;
    padding: 30px 10px;
    margin-top: -15px;
    font-weight: 600;
    color: #564c4c;
}

li:hover{
  background: rgba(8, 8, 8, 0.157);
  cursor: pointer;
  transition: all 0.5s ease;
}
i {
    font-size: 20px;
    font-weight: 600;
    color: #706868;
    /* margin-top: 3px; */
}
#right {
    float: right;
    width: 5%;
    text-decoration: none;
    height: 100%;
    font-size: 20px;
    margin-top: -15px;
    margin-right: 80px;
    color: #454040;
}

a#right:hover{
  color: #1052ecdf;
  transition: all 0.5s ease;
}

a.rrr {
    float: right;
    width: 40px;
    margin-top: -10px;
}

a.rrr i:hover{
  color: #1052ecdf;
  transition: all 0.5s ease;
}


/***headder2***/

.headder-2 {
    margin: 30px 0px;
    height: 50px;
    width: 100%;
    /* background: brown; */
}
.wDrapper2 {
    background: aliceblue;
    padding: 28px;
}
ul.ul {
    width: 100%;
}
span.a2 {
    width: 130px;
    margin: 7px;
    margin-left: 50px;
}
.a2 a {
    text-decoration: none;
    width: 100%;
    font-size: 16px;
    height: 28px;
    padding-top: 5px;
    color: #fff;
    background: #0f77ee;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 20px;
}
.a2 a:hover{
  background: #0268ee;
  transition: all 0.5s ease;
}
.bod{
  width: 100%px;
  height: 685px;
  background: url("https:\2f\2f cc-prod.scene7.com\2fis\2fimage\2f CCProdAuthor\2f dt_3d-ar_marquee_1440x560?$pjpeg$\26jpegSize=300\26wid=1440");
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
    width: 620px;
    margin:0px 330px;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    width: 500px;
    height: 200px;
    padding: 250px 0; 
    line-height: 60px;
}
p {
    width: 500px;
    margin: -318px 0;
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    line-height: 40px;
}
.button {
    width: 60%;
    margin: 400px 0;
    height: 50px;
}
.button .a1 {
    float: left;
    width: 33%;
    padding: 5px;
    margin-left: 0px;
    height: 21px;
    border-radius: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}
.button .a1:hover{
  background: #fff;
  color: black;
  border-color: #fff;
  transition: all 0.5s ease;
}
.button .a2 {
    width: 42%;
    float: right;
    text-align: center;
    height: 20px;
    border: 2px solid;
    padding: 7px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    border-radius: 20px;
    background: #1778f0;
}
.button .a2:hover{
  background: rgb(33, 92, 231);
  transition: all 0.5s ease;
}




.wrapper-3 {
    width: 65%;
    height: 450px;
    margin: 150px 347px;
    display: inline-block;
}
.Content {
    width: 100%;
    height: 100%;
}
.img {
    width: 50%;
    float: left;
}
.Content1 {
    width: 45%;
    height: 450px;
    float: right;
}
.Content1 h1 {
    display: inline;
    font-size: 33px;
}
.p p {
    /* display: inline-flex; */
    height: 200px;
    width: 80%;
    margin: 0;
    line-height: 25px;
    font-size: 18px;
}
.p {
    display: inline-flex;
}
.b {
    display: inline-block;
}
.b p {
    height: 70px;
    color: #292a2a;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0px;
}
.a {
    width: 75%;
    height: 70px;
}
.aa {
    float: left;
    display: grid;
    line-height: 2;
    font-size: 17px;
}
.a3 {
    font-size: 17px;
    line-height: 2;
    float: right;
    display: grid;
}
.aa a, .a3 a {
    text-decoration: none;
    color: #075bf4;
}





.Content {
    width: 100%;
    height: 500px;
}



.Content2 {
    float: left;
    width: 35%;
    height: 100%;
    margin-left: 70px;
}
.Content2 h1 {
    margin-top: -220px;
    font-size: 35px;
}
.Content2 p {
    width: 100%;
    color: #433f3f;
    line-height: 25px;
}
.aaaa {
    width: 50%;
    float: left;
}
.aaaa a img {
    width: 40px;
    margin-top: 12px;
}
.aaaaa {
    float: right;
    width: 40%;
}
.aaaaa a img {
    width: 40px;
    margin-top: 12px;
}
.aaaa a,.aaaaa a {
    margin-top: 315px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #005aff;
}
.imgg {
    float: right;
    width: 50%;
}
.imgg img {
    width: 100%;
}
.imgg a {
    text-decoration: none;
    font-size: 17px;
    color: #0066ff;
}

.img a {
    color: #037fff;
    text-decoration: none;
    font-size: 17px;
}

.img a:hover,.aaaaa a:hover,.aaaa a:hover,.imgg a:hover,.a3 a:hover, .aa a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Netxt****/

.Next{
    background: #FBFBFB;
    width: 1900px;
    height: 2000px;
}
.headder{
    background: #FBFBFB;
    width: 1900px;
    height: 600px;
}

.h1 h1 {
    width: 100%;
    text-align: center;
    height: 60px;
    padding: 50px 0px;
    /* margin: auto; */
}
.image {
    width: 70%;
    /* border: 1px solid #ddd; */
    margin: auto;
    height: 1650px;
}
.imgwer {
    width: 25%;
    height: 400px;
    border: 1px solid #ddd;
    margin: 54px;
    float: left;
    border-radius: 5px;
}
.imgAr img {
    width: 100%;
}
.Ar img {
    float: left;
    margin-left: 15px;
}
.Ar img {
    border-radius: 7px;
    width: 40px;
    float: left;
}
.icon img {
    float: right;
    width: 30px;
    margin-right: 15px;
}
.Ar pp {
    float: left;
    padding: 6px 10px;
    font-size: 20px;
}
.p ppp {
    margin: 15px;
}
ppp a {
    color: #0066ff;
    text-decoration: none;
}
ppp a:hover {
    text-decoration: underline;
}
hr {
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
a.buttonn {
    border: 2px solid #312f2fe3;
    border-radius: 30px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    padding: 7px 15px;
    float: right;
    margin-right: 25px;
    color: #4e4a4a;
    font-weight: 700;
}
a.buttonn:hover{
    background: #312f2fe3;
    color: #fff;
    transition: all 0.5s ease;
    border-color: #312f2fe3;
}

.image1 img {
    height: 666px;
    /* width: -webkit-fill-available; */
    width: 1930px;
}

.image1 {
    background-image: url(s1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 1930px;
}
.Content12 {
    width: 700px;
    margin: auto;
    float: right;
}
.Content12 h3 {
    color: #fff;
    font-size: 30px;
    width: 270px;
    margin-top: 128px;
}
.Content12 pppp {
    display: block;
    width: 302px;
    color:#fff;
    font-size: 18px;
    font-family: cursive;
    margin-top: 15px;
}
.Content12 a{
    color: rgb(13, 75, 243);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px !important;
}

.Content12 a:hover, .box a:hover,.cotent111 a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}

section.section {
    width: 1903px;
    margin: 46px 0px;
    display: inline-block;
    text-align: center;
    height: 500px;
}

.new {
    width: 1500px;
    margin: auto;
    height: 500px;
}
.iteame {
    width: 83%;
    text-align: center;
    margin: auto;
    height: 300px;
}
.iteame h1h1 {
    font-size: 38px;
    display: inline-block;
    margin: 100px;
}
.box {
    width: 400px;
    height: 200px;
    font-size: 18px;
    font-family: cursive;
    float: left;
}
.box bbb {
    font-weight: 600;
    color: #414141;
    text-align: left;
    display: block;
    padding: 20px 0px;
}
.box pppp {
    display: block;
    width: 370px;
    text-align: left;
}
.box a {
    color: #3e77f8;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    text-align: left;
}
#nex {
    background: linear-gradient( 
93deg
 , #0969f84a, #15cb5e42);
    width: 1900px;
    height: 1000px;
}

.imgwer {
    width: 25%;
    height: 400px;
    border: 1px solid #ddd;
    background: aliceblue;
    margin: 54px;
    float: left;
    border-radius: 5px;
}
#image {
    width: 70%;
    border: none;
    margin: auto;
    height: 677px;
}

div#Rahman {
    display: block;
    font-family: sans-serif;
}

.p p5 {
    width: 230px;
    display: block;
    margin: 15px 13px;
    font-size: 15px;
}
div#Rahman p2 {
    font-size: 18px;
    display: block;
    text-align: left;
    margin-left: 10px;
}
#imgA img {
    width: 100%;
    height: 200px;
}
div#image a {
    color: #ff008d;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 6px 25px;
    margin: 580px;
    text-align: center;
    border-radius: 40px;
    background: #373030;
    font-family: Arial, Helvetica, sans-serif;
}

div#image a:hover{
    background: none;
    transition: all 0.5s ease;
    border-color: #373030;
}

.new1 {
    width: 1900px;
    height: 500px;
}
.wrapper11 {
    width: 90%;
    height: 100%;
    margin: auto;
}
.cotent111 {
    width: 60%;
    height: 40%;
    margin: auto;
}
.cotent111 h11 {
    display: block;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 100px;
}
.cotent111 p1 {
    display: block;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 15px;
}
.cotent111 a {
    color: #0867f6;
    display: block;
    text-align: center;
    font-family: sans-serif;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
}
.img1111 {
    margin: auto;
    text-align: center;
}
.img1111 img {
    width: 55%;
}

section#next {
    background: black;
    border-top: 10px solid #00ff95;
    color: #fff;
}
#image {
    width: 70%;
    border: none;
    margin: auto;
    height: 677px;
}



.Next {
    background: #000000;
    width: 1900px;
    height: 650px;
    border-top: 10px solid #47ee8a;
}
.wrapperr {
    width: 80%;
    margin: auto;
}

.sub-wrapper {
    width: 100%;
    height: 100%;
    color: #fff;
}
.sub-wrapper h12 {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin: auto;
    padding: 60px 0px 0px 0px;
    display: block;
}
.box1 {
    width: 80%;
    height: 80%;
    margin: auto;
}
.box2 {
    width: 29%;
    height: 300px;
    border: 1px solid #ddd;
    float: left;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 89px 25px;
    color: #1e1c1c;
}
.box2 h11 {
    display: block;
    font-size: 25px;
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
}
.box2 bb {
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 15px;
    text-align: left;
}
.box2 pb {
    font-size: 17px;
    display: block;
    text-align: left;
    margin-left: 15px;
}
a#a {
    font-size: 20px;
    color: #0e3ff0;
    text-decoration: none;
    display: block;
    margin-top: 8px;
    margin-right: 12px;
    width: 30%;
    float: right;
}
a#link {
    color: white;
    text-decoration: none;
    background: #397cf7;
    font-size: 16px;
    border: 2px solid #ddd;
    font-weight: 600;
    float: right;
    border-radius: 25px;
    padding: 10px 25px;
    margin-right: 10px;
    margin-top: 10px;
}
a#link:hover{
    background: none;
    color: #0859f0;
    border-color: #0958ec;
}

a#a:hover{
    text-decoration: underline;
    transition: all 0.5s ease;
}


section.nnn {
    width: 1903px;
    height: 550px;
    background: linear-gradient(
298deg
, #0aef5b, #ab156fc7,#6bbb00,#ff002f);
}
.background {
    background: rgb(255 255 255);
    width: 100%;
    height: 98%;
}
.wraper {
    width: 70%;
    height: 50%;
    margin: auto;
}
.wraper img {
    margin: auto;
    display: block;
    width: 60px;
    padding: 114px 0px 0px 0px;
}
.wraper h111 {
    display: block;
    font-size: 40px;
    margin: 20px;
    text-align: center;
}
.wraper pc {
    display: block;
    width: 50%;
    font-size: 21px;
    text-align: center;
    margin: auto;
}
.wraper a {
    width: 10%;
    display: block;
    margin: auto;
    text-decoration: none;
    color: #005aff;
    font-size: 20px;
    margin-top: 10px;
}


section.futter {
    width: 1903px;
    height: 700px;
}
.wrapperf {
    width: 85%;
    height: 30%;
    margin: auto;
}
.h1 {
    margin: 60px;
}
.h1 i {
    color: #565353;
    font-size: 10px;
    padding: 0px 15px;
    font-weight: 600;
}
.h1 a, p123{
    text-decoration: none;
    color: #4c4c4c;
    font-size: 12px;
}


.boxes {
    width: 16%;
    margin-left: 60px;
    float: left;
    font-family: sans-serif;
}
.boxes b123 {
    display: block;
}
.boxes a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    color: #565656;
}
.boxes hr {
    margin: 20px 0px;
    width: 65%;
}

.h1 a:hover, .boxes a:hover {
    color: #8c8989;
}


.hr hr {
    margin-top: 50px;
    display: inline-block;
}

.imggg img {
    width: 10%;
    margin-top: 8px;
    height: 16px;
    display: block;
    margin-left: 35px;
}
.h123 .h111 p123 {
    display: inline-block;
}
.imggg {
    display: inline-block;
    margin-top: -7px;
}
.h123 {
    width: 80%;
    margin: auto;
    height: 100px;
    font-family: sans-serif;
}
.h123 .h111 {
    height: 17px;
    margin: auto;
    margin-top: 339px;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.h123 .h111 p123 {
    display: inline-block;
    position: absolute;
    margin: 0px -142px;
    font-size: 15px;
}

.imggg a {
    position: absolute;
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #252424;
    padding: 2px;
    margin: -18px 65px;
}

.imggg a:hover {
    color: #696666;
    transition: all 0.5s ease;
}
div#hdh .iconee a:hover, div#hdh .menu a:hover {
    color: #676565;
    transition: all 0.5s ease;
}
div#hdh {
    border: none;
}
div#hdh a {
    text-decoration: none;
    color: #2f2d2d;
}
.iconee {
    float: left;
}
.menu {
    float: right;
}